{block content}
<div class="post-header" style="margin-bottom: 30px;">
    <a style="text-decoration: none; font-family: Dialog; color:snow;" class="kls" n:href="Post:show $post->id">← Zpět na příspěvek</a>
</div>

<div class="form-box">
    <h1>Upravit komentář</h1>
    <p>Upravujete komentář k příspěvku <strong>{$post->title}</strong>.</p>
    {control commentForm}
</div>
